# Ignore everything
*

# Whitelist
!dist/canister_templates/**
!examples/stable/demo/hello_world/**
!examples/experimental/demo/hello_world_http_server/**
!.scripts/**
!src/**
!.openvaluesharing.json
!bin.mjs
!LICENSE
!LICENSE_EXTENSION.md
!NOTICE
!package-lock.json
!package.json
!README.md
!tsconfig.dev.json
