# Ignore everything
*

# Whitelist
!canister_templates/**
!canisters/**
!dfx/**
!dfx_extension/**
!examples/hello_world/**
!examples/hello_world_candid_rpc/**
!experimental/**
!http_client/**
!property_tests/arbitraries/**
!property_tests/test/**
!property_tests/visitors/**
!property_tests/are_params_correctly_ordered.ts
!property_tests/get_actor.ts
!property_tests/index.ts
!scripts/**
!src/**
!test/**
!type_tests/**
!.openvaluesharing.json
!bin.mjs
!install_script.sh
!LICENSE
!LICENSE_EXTENSION.md
!NOTICE
!package-lock.json
!package.json
!README.md
!server.did
!wasmedge_quickjs/**
