.dfx
.DS_Store
dist
.husky
node_modules
target
/the_azle_book/book
/docs
static_canister_template_licenses.yml
.azle
dfx_generated
.bitcoin
licenses.yml
src/build/stable/commands/generate_types/rust/candid_to_ts_js/pkg
