[workspace]
members = [
    "src/build/experimental/commands/compile/wasm_binary/rust/experimental_canister_template",
    "src/build/experimental/commands/compile/wasm_binary/rust/open_value_sharing",
    "src/build/stable/commands/compile/wasm_binary/rust/stable_canister_template",
]
